@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", Arial, sans-serif;
}

main {
  width: 100%;
  display: inline-grid;
  grid-template-areas:
    "sidebar header header header header"
    "sidebar mainContent mainContent mainContent mainContent"
    "sidebar mainContent mainContent mainContent mainContent"
    "sidebar mainContent mainContent mainContent mainContent"
    "sidebar mainContent mainContent mainContent mainContent";
}

/* The start of header */

header {
  grid-area: header;
  background-color: #ffffff;
}

header {
  display: grid;
  grid-template-columns: 600px 600px;
  grid-template-rows: 90px 90px;

  justify-content: center;
}

.search-bar {
  display: grid;
  grid-template-columns: 38px 10px;
  align-items: center;
  height: 80px;
}

label > img {
  height: 25px;
}

.search-bar > input {
  border: none;
  background-color: #e2e8f0;
  padding: 8px;
  border-radius: 20px;
  width: 750px;
}

.profile-top-rigth .alert {
  height: 25px;
}

.profile-top-rigth .account-alert {
  height: 50px;
}

.profile-top-rigth > p {
  font-weight: 600;
  font-size: 16px;
}

.profile-top-rigth {
  height: 80px;
  display: grid;
  grid-template-columns: 20px 50px 135px;
  gap: 40px;
  align-items: center;
  justify-content: end;
}

.welcome {
  display: grid;
  justify-content: start;
  align-items: center;
  grid-template-areas:
    "account-welcome Hi"
    "account-welcome username";
  padding-bottom: 24px;
  column-gap: 8px;
}

.welcome > img {
  height: 68px;
}

.account-welcome {
  grid-area: account-welcome;
}

.Hi {
  grid-area: Hi;
  font-weight: 500;
}

.username {
  grid-area: username;
  font-weight: bold;
  font-size: 20px;
}

.options > button {
  color: white;
  background-color: #1992d4;
  border: none;
  padding: 10px 24px;
  border-radius: 30px;
  font-weight: 500;
}

.options > button:hover {
  background-color: #1681bb;
  cursor: pointer;
  color: black;
}

.options {
  display: grid;
  grid-template-columns: 90px 90px 90px;
  align-content: space-around;
  justify-content: end;
  margin-right: 20px;
  gap: 35px;
}

/* This is the end of header */

/*This is the start of sidebar*/
.side-bar {
  grid-area: sidebar;
  background-color: #1992d4;
}

.logo > img {
  height: 50px;
}

.logo > h1 {
  font-size: 25px;
  padding-top: 10px;
}

.logo {
  color: white;
  display: grid;
  grid-template-columns: 50px 1fr;
  gap: 10px;
  padding: 12px 10px;
  cursor: pointer;
}

.menu {
  display: grid;
  grid-template-rows: 70% 30%;
}

@-moz-document url-prefix() {
  .menu {
    gap: 20px;
  }
}

li > img {
  height: 30px;
}

li > p {
  color: white;
  font-size: 16px;
  font-weight: 500;
}

ul {
  text-decoration: none;
  list-style: none;
}

a {
  text-decoration: none;
}

li {
  display: grid;
  grid-template-columns: 45px 30px;
  padding: 10px;
  align-items: center;
}

li:hover {
  background-color: #1681bb;
  cursor: pointer;
  border-radius: 12px;
}
.side-bar {
  padding: 10px;
}

/* The end of the sidebar */

/* Here starts main-content */
.main-content {
  display: grid;
  grid-area: mainContent;
  background-color: #e2e8f0;
  box-shadow: 0px 4px 8px #cfd4db inset;
  grid-template-areas:
    "projects projects projects announcements"
    "projects projects projects announcements "
    "projects projects projects trending"
    "projects projects projects trending";
  height: auto;
  width: 100%;
  padding: 30px 10px 10px 20px; /*Checar esto alrato*/
  padding-bottom: 45px;
}

.projects {
  grid-area: projects;
}

.announcements {
  grid-area: announcements;
  display: grid;
  justify-content: end;
  margin-right: 45px;
  gap: 15px;
}

.announcements-container {
  box-sizing: content-box;
  display: grid;
  align-items: end;
  width: 280px;
  height: 310px;
  background-color: #fff;
  padding: 25px 30px;
  padding-right: 40px;
  border-radius: 15px;
  box-shadow: 0px 3px 6px #aaaeb4;
}

.announcements-container p {
  width: 290px;
}

hr {
  margin-bottom: 10px;
  background: #cfd4db;
  color: #cfd4db;
}

.trending {
  grid-area: trending;
  display: grid;
  justify-content: end;
  margin-right: 36px;
  margin-top: 35px;
  gap: 15px;
}

.trending-container {
  box-sizing: content-box;
  display: grid;
  align-items: end;
  width: 280px;
  height: 310px;
  background-color: #fff;
  padding: 25px 30px;
  padding-right: 40px;
  border-radius: 15px;
  box-shadow: 0px 3px 6px #aaaeb4;
}

.trending-container {
  width: 290px;
}
